
//
// VARIABLES
//

// DACREEPYPENGUIN COLOUR PALLET
// Dark Blue #161d2d
// Light Blue #7bd7ff
// Purple #975bcc


// Colors
$highlight: #975bcc;
$black: #000000;
$title: #9edefa;
$mainText: #7bd7ff;
$subText: #447e97;
$bar: #975bcc;
$background: rgb(22, 29, 44);

// Font stacks
$mainTextFont: Consolas,monaco,monospace;
$titleTextFont: Consolas,monaco,monospace;
// $HelveticaNeue": "Helvetica Neue", Helvetica, Arial, sans-serif;
// $georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
