
//
// VARIABLES
//

// DACREEPYPENGUIN COLOUR PALLET
// Dark Blue #161d2d
// Light Blue #7bd7ff
// Purple #975bcc

// Colors
$highlight: rgb(151, 91, 204);
$black: rgb(0, 0, 0);
$title: rgb(158, 222, 250);
$mainText: #7bd7ff;
$subText: #447e97;
$bar: #975bcc;
$background: hsl(222, 34%, 13%);

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
